.game-btn {
  background: linear-gradient(145deg, #2ec4b6, #1aa89c);
  color: white;

  margin: 10px;
  padding: 12px 20px;

  box-shadow:
    0 5px 0 #137d75,
    0 8px 15px rgba(0, 0, 0, 0.3);
}

.game-btn:hover {
  transform: translateY(-2px);
}

.game-btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #137d75;
}
#memory-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;

  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;

  background-color: #2a2a40;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  cursor: pointer;

  color: transparent;

  transition: 0.2s;
}

.card.flipped {
  background-color: #ffd369;
  color: black;
}

#memory-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
}

.card.matched {
  background-color: #4caf50;
  color: white;
  cursor: default;
  opacity: 0.8;
}

#winner-div {
  color: var(--main_text);
  font-size: 100px;
}


#reaction-box {
  width: 250px;
  height: 250px;

  margin: 30px auto;

  border-radius: 15px;

  background: linear-gradient(145deg, #ff4d4d, #cc0000);

  box-shadow:
    0 5px 0 #990000,
    0 8px 15px rgba(0, 0, 0, 0.3);

  transition: 0.2s;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 24px;
  font-weight: bold;
}

#reaction-box.ready {
  background: linear-gradient(145deg, #2ec4b6, #1aa89c);

  box-shadow:
    0 5px 0 #137d75,
    0 8px 15px rgba(0, 0, 0, 0.3);
}

#reaction-box:active {
  transform: translateY(3px);
}

#reaction-time {
  color: var(--main_text);
  font-size: 32px;
  margin-top: 20px;
}